{% load static %}
<!-- header style two -->
<div id="side-bar" class="side-bar header-two">
    <button class="close-icon-menu">X</button>
    <!-- mobile menu area start -->
    <div class="mobile-menu-main">
        <nav class="nav-main mainmenu-nav mt--30">
            <ul class="mainmenu metismenu" id="mobile-menu-active">
                <li class="has-droupdown">
                    <a href="#" class="main">Home</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="{% url 'index' %}">Dealer One</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'index-two' %}">Dealer Two</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'index-three' %}">Dealer Three</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'index-four' %}">Shop Demo</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'index-five' %}">Wash Demo</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'index-six' %}">Repair Demo</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'index-seven' %}">Dealer Slider</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'index-eight' %}">Dealer Video</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'about' %}" class="main">About</a></li>
                <li class="has-droupdown">
                    <a href="#" class="main">Listing</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="{% url 'portfolio' %}">Car One</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'portfolio-two' %}">Car Two</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'portfolio-three' %}">Car Three</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'portfolio-details' %}">Car Single</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'portfolio-details-2' %}">Car Single Two</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Pages</a>
                    <ul class="submenu mm-collapse">
                        <li><a href="{% url 'services:service_list' %}">Service</a></li>
                        <li><a href="{% url 'pricing' %}">Pricing</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'sold-car' %}">Sold Car</a></li>
                        <li><a href="{% url 'calculator' %}">Calculator</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'blog-2' %}">Blog Two</a></li>
                        <li><a href="{% url 'blog-details' %}">Blog Single</a></li>
                        <li><a href="{% url 'team' %}">Team</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Shop</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="{% url 'shop' %}">Shop</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'shop-2' %}">Shop Two</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'shop-3' %}">Shop Three</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'shop-details' %}">Shop Single</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'contact' %}" class="main">Contact</a></li>
            </ul>
        </nav>

        <div class="rts-social-style-one pl--20 mt--50">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- mobile menu area end -->
</div>
<!-- header style two End -->