{% load static %}
<!-- header area start -->
<header class="header-three header--sticky">
    <div class="header-top">
        <div class="container">
            <div class="header-top-inner d-flex align-items-center justify-content-between">
                <div class="left d-flex align-items-center">
                    <div class="map-area">
                        <i class="rt-icon-phone-flip"></i>
                        <a href="callto:12505550199">+12505550199</a>
                    </div>
                    <div class="map-area">
                        <i class="rt-icon-envelope"></i>
                        <a href="mailto:Autovault@gmail.com">Autovault@gmail.com</a>
                    </div>
                    <div class="map-area">
                        <i class="rt-icon-marker"></i>
                        <a href="#">280 Augusta Avenue, M5T 2L9 Toronto, Canada</a>
                    </div>
                </div>
                <div class="right">
                    <div class="social-area-transparent">
                        <ul class="d-flex align-items-center">
                            <li><a href="#"><img src="{% static 'images/icon/x.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/icon/in.svg' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/icon/f.svg' %}" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrapper-1">
                        <div class="logo-area-start">
                            <a href="{% url 'index' %}" class="logo">
                                <img src="{% static 'images/logo/logo.svg' %}" width="99" alt="logo_area">
                            </a>
                        </div>
                        <div class="header-right d-block">
                            <div class="bottom d-flex align-items-center justify-content-between">
                                {% include 'partials/header/nav.html' %}
                                <div class="bottom-right">
                                    <div class="button-area d-flex align-items-center gap-2">

                                    {# --- bouton Partenariat (toujours visible) --- #}
                                    <a href="{% url 'deals:partenariat_create' %}" class="rts-btn btn-primary radius-small icon btn-compact" title="Créer une demande de partenariat">
                                        <i class="fa fa-handshake-o me-1"></i> Devenir partenaire
                                    </a>
                                    <a href="{% url 'vehicles:liste_voitures' %}">Voir les voitures</a>

                                    {# --- bouton Back Office : visible seulement pour staff --- #}
                                    {% if user.is_authenticated and user.is_staff %}
                                        {# Si tu as un hub back: deals:admin_hub ; sinon l'admin Django #}
                                        <a href="{% url 'deals:admin_hub' %}" class="rts-btn btn-border radius-small icon btn-compact" title="Back office">
                                        <i class="fa fa-gauge me-1"></i> Back Office
                                        </a>
                                    {% else %}
                                        {# Auth (optionnel) #}
                                        <a href="{% url 'account' %}" class="rts-btn btn-border radius-small icon btn-compact" title="Se connecter">
                                        Sign In <i class="fa fa-sign-in ms-1"></i>
                                        </a>
                                    {% endif %}
                                    </div>

                                    <div class="menu-btn radius-small" id="menu-btn">
                                        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="55" height="55" rx="15" fill="#FF3600"/>
                                            <rect x="18" y="33" width="10" height="2" fill="#ffffff"/>
                                            <rect x="18" y="26" width="20" height="2" fill="#ffffff"/>
                                            <rect x="18" y="19" width="10" height="2" fill="#ffffff"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->

