{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js" {% if theme %} data-theme="{{theme}}" {% endif %} {% if dir %} dir="{{dir}}" {% endif %} >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fav.svg' %}">
    <title>DeepDrive - {{title}}</title>
    <meta name="description" content="Your trusted source for expert healthcare services and car information. Providing personalized care, advanced treatments, and reliable car dealing to help you achieve better health.">
    <link rel="stylesheet" href="{% static 'css/plugins/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnifying-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/rt-icon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>