{% load static %}

{% include 'partials/elements/sidebar.html' %}

<script src="{% static 'js/plugins/jquery.js' %}"></script>
<script src="{% static 'js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'js/vendor/waw.js' %}"></script>
<script src="{% static 'js/plugins/counter-up.js' %}"></script>
<script src="{% static 'js/plugins/contact-form.js' %}"></script>
<script src="{% static 'js/plugins/swiper.js' %}"></script>
<script src="{% static 'js/plugins/metismenu.js' %}"></script>
<script src="{% static 'js/vendor/jarallax.js' %}"></script>
<script src="{% static 'js/plugins/smooth-scroll.js' %}"></script>
<script src="{% static 'js/plugins/magnifying-popup.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/waypoint.js' %}"></script>
<!-- main js here -->
<script src="{% static 'js/main.js' %}"></script>