{% load static %}
<div class="nav-area">
    <ul class="">
        <li class="has-dropdown main-nav">
            <a class="main-menu" href="javascript:void(0)">Home</a>
            <ul class="submenu parent-nav">
                <li><a href="{% url 'index' %}">Dealer One</a></li>
                <li><a href="{% url 'index-two' %}">Dealer Two</a></li>
                <li><a href="{% url 'index-three' %}">Dealer Three</a></li>
                <li><a href="{% url 'index-four' %}">Shop Demo</a></li>
                <li><a href="{% url 'index-seven' %}">Dealer Slider</a></li>
                <li><a href="{% url 'index-eight' %}">Dealer Video</a></li>
                <li><a href="{% url 'index-five' %}">Wash Demo</a></li>
                <li><a href="{% url 'index-six' %}">Repair Demo</a></li>
            </ul>
        </li>

        <li class="main-nav">
            <a class="main-menu" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="main-nav has-dropdown">
            <a class="main-menu" href="javascript:void(0)">Listing</a>
            <ul class="submenu parent-nav">
                <li><a href="{% url 'portfolio' %}">Cars One</a></li>
                <li><a href="{% url 'portfolio-two' %}">Cars Two</a></li>
                <li><a href="{% url 'portfolio-three' %}">Cars Three</a></li>
                <li><a href="{% url 'portfolio-details' %}">Car Single</a></li>
                <li><a href="{% url 'portfolio-details-2' %}">Car Single Two</a></li>
            </ul>
        </li>
        <li class="main-nav has-dropdown">
            <a class="main-menu" href="javascript:void(0)">Page</a>
            <ul class="submenu mega-menu parent-nav">
                <li><a href="{% url 'service' %}">Service</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="{% url 'blog-2' %}">Blog Two</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>  
                <li><a href="{% url 'blog-details' %}">Blog Single</a></li>
                <li><a href="{% url 'sold-car' %}">Sold Car</a></li>  
                <li><a href="{% url 'team' %}">Team</a></li>  
                <li><a href="{% url 'calculator' %}">Calculator</a></li>  
                <li><a href="{% url 'car-dealer' %}">Car Dealer</a></li>  
                <li><a href="{% url 'account' %}">Account</a></li>  
                <li><a href="{% url 'car-dealer-details' %}">Dealer Single</a></li>  
            </ul>
        </li>
        <li class="main-nav has-dropdown">
            <a class="main-menu" href="javascript:void(0)">Shop</a>
            <ul class="submenu parent-nav">
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'shop-2' %}">Shop Two</a></li>
                <li><a href="{% url 'shop-3' %}">Shop Three</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                <li><a href="{% url 'shop-details' %}">Shop Single</a></li>
            </ul>
        </li>
        <li class="main-nav"><a class="main-menu" href="{% url 'contact' %}">Contact</a></li>
    </ul>
</div>