{% load static %}
<div class="app-sidebar-menu">
  <div class="h-100" data-simplebar>
    <div id="sidebar-menu">
      <div class="logo-box">
        <a class="logo logo-light" >
          <span class="logo-sm">
            <img src="{% static 'admin_themes/assets/images/logo-sm.png' %}" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="{% static 'admin_themes/assets/images/logo-light.png' %}" alt="" height="24">
          </span>
        </a>
        <a class="logo logo-dark" >
          <span class="logo-sm">
            <img src="{% static 'admin_themes/assets/images/logo-sm.png' %}" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="{% static 'admin_themes/assets/images/logo-dark.png' %}" alt="" height="24">
          </span>
        </a>
      </div>

        <ul id="side-menu">

        <li class="menu-title">Gestion</li>

        <!-- Gestion Partenariats -->
        <li>
          <a class="tp-link" href="{% url 'deals:admin_partenariats_list' %}">
            <span class="nav-icon">
              <iconify-icon icon="solar:hand-money-bold-duotone"></iconify-icon>
            </span>
            <span>Partenariats</span>
          </a>
        </li>


        <!-- Gestion Marchés -->
        <li>
          <a class="tp-link" href="{% url 'deals:admin_marches' %}">
            <span class="nav-icon">
              <iconify-icon icon="solar:shop-2-bold-duotone"></iconify-icon>
            </span>
            <span>Marchés</span>
          </a>
        </li>

        <!-- Gestion Véhicules -->
        <li>
            <a class="tp-link" href="javascript:void(0);">
            <span class="nav-icon">
                <iconify-icon icon="solar:car-bold-duotone"></iconify-icon>
            </span>
            <span> Véhicules </span>
            </a>
        </li>

        <!-- Gestion Utilisateurs -->
        <li>
            <a class="tp-link" href="javascript:void(0);">
            <span class="nav-icon">
                <iconify-icon icon="solar:shield-user-bold-duotone"></iconify-icon>
            </span>
            <span> Utilisateurs </span>
            </a>
        </li>

        <!-- Gestion Évaluations -->
        <li>
            <a class="tp-link" href="javascript:void(0);">
            <span class="nav-icon">
                <iconify-icon icon="solar:checklist-bold-duotone"></iconify-icon>
            </span>
            <span> Évaluations </span>
            </a>
        </li>

        <!-- Gestion Réponses -->
        <li>
            <a class="tp-link" href="javascript:void(0);">
            <span class="nav-icon">
                <iconify-icon icon="solar:chat-round-dots-bold-duotone"></iconify-icon>
            </span>
            <span> Réponses </span>
            </a>
        </li>

        </ul>


    </div>
    <div class="clearfix"></div>
  </div>
</div>
