{% load static %}
<div class="topbar-custom">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <ul class="list-unstyled topnav-menu mb-0 d-flex align-items-center">
        <li>
          <button class="button-toggle-menu nav-link">
            <i data-feather="menu" class="noti-icon"></i>
          </button>
        </li>
        <li class="d-none d-lg-block">
          <form class="app-search d-none d-md-block me-auto">
            <div class="position-relative topbar-search">
              <input type="text" class="form-control ps-4" placeholder="Search..." />
              <iconify-icon icon="solar:minimalistic-magnifer-outline" class="align-middle fs-14 position-absolute text-muted top-50 translate-middle-y ms-2"></iconify-icon>
            </div>
          </form>
        </li>
      </ul>

      <ul class="list-unstyled topnav-menu mb-0 d-flex align-items-center">
        {# ... garde ici tout le menu langue / notifications / user comme dans ton code #}
        {# Pour faire court on n’édite pas le contenu; colle exactement ce que tu as déjà #}
      </ul>
    </div>
  </div>
</div>