{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="rts-wrapper">
        <div class="rts-wrapper-inner">
            <!-- header area start -->
            {% include 'partials/header/header-three.html' %}
            <!-- header area end -->

            <!-- Breadcrumb area start -->
            {% with class="service" current="About" title="About" %}
                {% include 'partials/elements/breadcrumb.html' %}   
            {% endwith %}
            <!-- Breadcrumb area end -->
            <!-- About Area Start -->
            <section class="rts-about-area inner two rts-section-gapTop">
                <div class="container">
                    <div class="section-inner">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="about-image-area-two">
                                    <div class="left wow scaleIn" data-wow-delay=".5s" data-wow-duration="1s">
                                        <img src="{% static 'images/about/12.webp' %}" width="339" alt="">
                                    </div>
                                    <div class="right wow scaleIn" data-wow-delay=".5s" data-wow-duration="1s">
                                        <img src="{% static 'images/about/13.webp' %}" width="280" alt="">
                                        <div class="counter-area">
                                            <h2 class="title"><span class="counter">1000</span><span>+</span></h2>
                                            <p class="desc">Car Sold Already</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="about-content-area">
                                    <div class="section-title-area">
                                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">About
                                            Us</p>
                                        <h2 class="section-title wow move-right">Driven by Excellence: Your Trusted Partner for Premium
                                            <span>Vehicles</span>
                                        </h2>
                                    </div>
                                    <p class="desc wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">Welcome to Autovault where innovation drives every journey. Discover a
                                        range
                                        of designed to elevate your driving experience.</p>
                                    <a href="callto:+12505550199" class="rts-btn call-btn wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                                        <span>
                                            <i class="fa-regular fa-phone"></i>
                                        </span>
                                        <div class="content">
                                            <h6>Call Us Now</h6>
                                            <p>+12505550199</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-shape-area">
                    <img src="{% static 'images/category/shape/shape-01.svg' %}" alt="">
                    <img src="{% static 'images/category/shape/shape-02.svg' %}" alt="">
                </div>
            </section>
            <!-- About Area End -->
             <!-- Counter Area Start -->
            <section class="rts-counter-area-two">
                <div class="container">
                    <div class="counter-inner">
                        <div class="inner wow zoomIn" data-wow-delay=".2s" data-wow-duration="1s">
                            <div class="icon">
                                <img src="{% static 'images/counter/icon-01.svg' %}" width="74" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><span class="counter">320</span><span>M</span></h3>
                                <p class="desc">Cars For Sale</p>
                            </div>
                        </div>
                        <div class="inner wow zoomIn" data-wow-delay=".4s" data-wow-duration="1s">
                            <div class="icon">
                                <img src="{% static 'images/counter/icon-02.svg' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><span class="counter">5500</span><span>+</span></h3>
                                <p class="desc">Dealer Review</p>
                            </div>
                        </div>
                        <div class="inner wow zoomIn" data-wow-delay=".6s" data-wow-duration="1s">
                            <div class="icon">
                                <img src="{% static 'images/counter/icon-03.svg' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><span class="counter">300</span><span>M</span></h3>
                                <p class="desc">Verified User</p>
                            </div>
                        </div>
                        <div class="inner wow zoomIn" data-wow-delay=".8s" data-wow-duration="1s">
                            <div class="icon">
                                <img src="{% static 'images/counter/icon-04.svg' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title"><span class="counter">10</span><span>M</span></h3>
                                <p class="desc">Visitor Per Day</p>
                            </div>
                        </div>
                    </div>
                </div>
             </section>
            <!-- Counter Area End -->
             <!-- Testimonials Area Start -->
            <section class="rts-testimonials-area area-2 rts-section-gap">
                <div class="bg-shape-area">
                </div>
                <div class="shape wow slideInLeft" data-wow-delay=".5s" data-wow-duration="2s">
                    <img src="{% static 'images/testimonials/03.webp' %}" width="1107" alt="">
                </div>
                <div class="container">
                    <div class="section-inner">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-xl-5">
                                <div class="section-title-area">
                                    <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration=".8s">Testimonial</p>
                                    <h2 class="section-title wow move-right">What Our <span>Client</span> Says
                                    </h2>
                                </div>
                                <div class="slider-inner mt--50">
                                    <div class="swiper testimonialSlider">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="review-wrapper">
                                                    <p class="desc">
                                                        Choosing Bokinn was one of the best decisions we've ever made. They
                                                        have proven to be a reliable and innovative partner, always ready to
                                                        tackle new challenges with and expertise.Their commitment to and
                                                        delivering tailored.
                                                    </p>
                                                    <div class="author-area d-flex align-items-center">
                                                        <div class="image">
                                                            <img src="{% static 'images/testimonials/author-01.svg' %}" alt="">
                                                        </div>
                                                        <div class="text">
                                                            <h6 class="title">Sarah Martinez</h6>
                                                            <p class="designation">CEO of Apex Solutions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="review-wrapper">
                                                    <p class="desc">
                                                        Choosing Bokinn was one of the best decisions we've ever made. They
                                                        have proven to be a reliable and innovative partner, always ready to
                                                        tackle new challenges with and expertise.Their commitment to and
                                                        delivering tailored.
                                                    </p>
                                                    <div class="author-area d-flex align-items-center">
                                                        <div class="image">
                                                            <img src="{% static 'images/testimonials/author-01.svg' %}" alt="">
                                                        </div>
                                                        <div class="text">
                                                            <h6 class="title">Sarah Martinez</h6>
                                                            <p class="designation">CEO of Apex Solutions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="review-wrapper">
                                                    <p class="desc">
                                                        Choosing Bokinn was one of the best decisions we've ever made. They
                                                        have proven to be a reliable and innovative partner, always ready to
                                                        tackle new challenges with and expertise.Their commitment to and
                                                        delivering tailored.
                                                    </p>
                                                    <div class="author-area d-flex align-items-center">
                                                        <div class="image">
                                                            <img src="{% static 'images/testimonials/author-01.svg' %}" alt="">
                                                        </div>
                                                        <div class="text">
                                                            <h6 class="title">Sarah Martinez</h6>
                                                            <p class="designation">CEO of Apex Solutions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="review-wrapper">
                                                    <p class="desc">
                                                        Choosing Bokinn was one of the best decisions we've ever made. They
                                                        have proven to be a reliable and innovative partner, always ready to
                                                        tackle new challenges with and expertise.Their commitment to and
                                                        delivering tailored.
                                                    </p>
                                                    <div class="author-area d-flex align-items-center">
                                                        <div class="image">
                                                            <img src="{% static 'images/testimonials/author-01.svg' %}" alt="">
                                                        </div>
                                                        <div class="text">
                                                            <h6 class="title">Sarah Martinez</h6>
                                                            <p class="designation">CEO of Apex Solutions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="review-wrapper">
                                                    <p class="desc">
                                                        Choosing Bokinn was one of the best decisions we've ever made. They
                                                        have proven to be a reliable and innovative partner, always ready to
                                                        tackle new challenges with and expertise.Their commitment to and
                                                        delivering tailored.
                                                    </p>
                                                    <div class="author-area d-flex align-items-center">
                                                        <div class="image">
                                                            <img src="{% static 'images/testimonials/author-01.svg' %}" alt="">
                                                        </div>
                                                        <div class="text">
                                                            <h6 class="title">Sarah Martinez</h6>
                                                            <p class="designation">CEO of Apex Solutions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonials Area End -->
             <!-- Team Area Start -->
             <section class="rts-team-area rts-section-gap">
                <div class="container">
                    <div class="section-title-area2">
                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Our Team</p>
                        <h2 class="section-title wow move-right">Let’s Meet Our <span>Expert</span></h2>
                    </div>
                    <div class="section-inner mt--60">
                        <div class="row g-5">
                            <div class="col-lg-3 col-md-6">
                                <div class="team-wrapper">
                                    <div class="image-area">
                                        <a href="#">
                                            <img src="{% static 'images/team/01.webp' %}" alt="">
                                        </a>
                                        <div class="content">
                                            <h6 class="title cw">Amelia Scot</h6>
                                            <p class="designation cw">Office Executive</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="team-wrapper">
                                    <div class="image-area">
                                        <a href="#">
                                            <img src="{% static 'images/team/02.webp' %}" alt="">
                                        </a>
                                        <div class="content">
                                            <h6 class="title cw">Michael Roy</h6>
                                            <p class="designation cw">Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="team-wrapper">
                                    <div class="image-area">
                                        <a href="#">
                                            <img src="{% static 'images/team/03.webp' %}" alt="">
                                        </a>
                                        <div class="content">
                                            <h6 class="title cw">Emma Elizabeth</h6>
                                            <p class="designation cw">Office Executive</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="team-wrapper">
                                    <div class="image-area">
                                        <a href="#">
                                            <img src="{% static 'images/team/04.webp' %}" alt="">
                                        </a>
                                        <div class="content">
                                            <h6 class="title cw">Michael Roy</h6>
                                            <p class="designation cw">Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </section>
            <!-- Team Area End -->
            <!-- Brand Area Start -->
            <section class="rts-brand-area">
                <div class="container">
                    <div class="section-title-area2">
                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Partners</p>
                        <h2 class="section-title wow move-right">Browse by <span>Company</span></h2>
                    </div>
                    <div class="section-inner mt--80">
                        <ul>
                            <li class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/01-w.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/02.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/03.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/04.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/05.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/06.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1.4s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/07.svg' %}" alt=""></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- Brand Area End -->
            <div class="rts-cta-area area-2">
                <div class="container">
                    <div class="cta-inner">
                        <h2 class="title">If you have any questions Please Call.</h2>
                        <div class="contact">
                            <a href="callto:+16544521505">
                                <img src="{% static 'images/cta/call.svg' %}" alt="">
                                +1-654-452-1505</a>
                        </div>
                        <img class="shape one" src="{% static 'images/cta/round.svg' %}" alt="">
                        <img class="shape two" src="{% static 'images/cta/line.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>    
    {% include 'partials/footer/footer-three.html' %}
    {% endblock content %}