{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="rts-wrapper">
        <div class="rts-wrapper-inner">
            <!-- header area start -->
            {% include 'partials/header/header-three.html' %}
            <!-- header area end -->
            <!-- rts breadcrumb area start -->
            <div class="rts-breadcrumb-area blog-details jarallax">
              <div class="container">
                  <div class="breadcrumb-area-wrapper">
                      <div class="left">
                        <p>Dealership events</p>
                        <h1 class="title">Seasonal Car Care Tips to Keep Your <br> Vehicle Best Running Smoothly</h1>
                        <div class="author-area">
                          <div class="image">
                            <img src="{% static 'images/testimonials/author-01.svg' %}" alt="">
                          </div>
                          <ul>
                            <li>Jack Alexander </li>
                            <li>March 26, 2024</li>
                          </ul>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <!-- rts breadcrumb area end -->
            <div class="rts-portfolio-area inner rts-section-gapTop">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-8">
                            <div class="portfolio-details-area">
                                <div class="image mb--40">
                                  <img src="{% static 'images/portfolio/24.webp' %}"  alt="">
                                </div>
                                <h2 class="mb--30">Car Description</h2>
                                <p class="mb--30">A car is a motorized vehicle designed primarily for the transportation of passengers, typically seating between one 
                                  to eight people. It consists of a metal or composite body structure mounted on a set of wheels, usually four, and is 
                                  powered by an internal combustion engine, an electric motor, or a hybrid system that combines both. The car’s it is
                                  main components include the engine, transmission, drivetrain, suspension, and braking system, all of which work
                                  together to provide motion and control.</p>
                                <p>Cars come in a variety of body styles and sizes, such as sedans, SUVs, hatchbacks, coupes, convertibles, and for pickup trucks, each serving different needs and preferences.</p>
                                <h2 class="mb--30">Car Features</h2>
                                <ul class="feature-list mb--40">
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Engine Type
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Horsepower
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Automatic Climate Control
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Touchscreen Display
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Navigation System
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Fog Lights
                                  </li>
                                </ul>
                                <h2 class="mb--30">Your Trusted Partner in Car Buying and Service</h2>
                                <p class="mb--30">Welcome to Career Compass, your ultimate destination for career advice, job search strategies, and big to an a professional development insights. Whether you're a recent graduate, seasoned professional, or someone considering a career change, our blog is your trusted guide to help you navigate the ever-evolving landscape of the job market.</p>
                                <div class="quote-area mb--30">
                                  <div class="image mb--20">
                                    <img src="{% static 'images/testimonials/quote-04.svg' %}" alt="">
                                  </div>
                                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia <img src="{% static 'images/testimonials/quote-04.svg' %}" alt="">
                                </div>
                                <p class="mb--40">At Career Compass, we understand that finding the right career path can be daunting. That's why we offer a wealth of resources to empower you on your journey. From resume writing tips and interview techniques to networking advice and skill-building strategies, our expert contributors share their knowledge and expertise to equip you with the tools you need to succeed.</p>
                                <h2 class="mb--30">Tags</h2>
                                <ul class="tag-area mb--30">
                                  <li>New Cars</li>
                                  <li>Used Cars</li>
                                  <li>Test Drives</li>
                                  <li>Car Deals</li>
                                  <li>Luxury Cars</li>
                                </ul>
                                <div class="share-link mb--40">
                                  <h2>Share</h2>
                                  <ul>
                                    <li><a href="#"><img src="{% static 'images/icon/f-3.svg' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'images/icon/x-3.svg' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'images/icon/insta-3.svg' %}" alt=""></a></li>
                                    <li><a href="#"><img src="{% static 'images/icon/in-3.svg' %}" alt=""></a></li>
                                  </ul>
                                </div>
                                <div class="comment-area mb--40">
                                  <h2>Comment</h2>
                                  <div class="comment-box mb--30">
                                    <div class="author">
                                      <div class="image"><img src="{% static 'images/testimonials/author-01.svg' %}" alt=""></div>
                                      <div class="content">
                                        <h6>Jonathon Doe</h6>
                                        <p>A Week Ago</p>
                                      </div>
                                    </div>
                                    <p>I still have a lot of studying to do using this course and the other practice exams, but so far it's been great! I have not taken my Security+ exam as well, so I'll update this at a later time.</p>
                                    <a href="#" class="reply-btn"><img src="{% static 'images/icon/reply.svg' %}" alt="">Reply</a>
                                  </div>
                                  <div class="comment-box mb--30">
                                    <div class="author">
                                      <div class="image"><img src="{% static 'images/testimonials/author-02.svg' %}" alt=""></div>
                                      <div class="content">
                                        <h6>Jonathon Doe</h6>
                                        <p>A Week Ago</p>
                                      </div>
                                    </div>
                                    <p>I still have a lot of studying to do using this course and the other practice exams, but so far it's been great! I have not taken my Security+ exam as well, so I'll update this at a later time.</p>
                                    <a href="#" class="reply-btn"><img src="{% static 'images/icon/reply.svg' %}" alt="">Reply</a>
                                  </div>
                                  <div class="comment-form">
                                    <h2 class="mb--30">Leave a Comment</h2>
                                    <form action="#" method="get">
                                      <textarea name="comment" id="comment" placeholder="Add a Comment" required></textarea>
                                      <button class="rts-btn radius-small btn-primary">Submit Comment</button>
                                    </form>
                                  </div>
                                </div>
                                <div class="rts-blog-area inner">
                                  <h3 class="mb--40 text-center">Related listings</h3>
                                  <div class="row g-5">
                                    <div class="col-lg-6">
                                      <div class="blog-wrapper">
                                          <div class="image-area">
                                              <a href="{% url 'blog-details' %}"><img src="{% static 'images/blog/01.webp' %}"
                                                       alt=""></a>
                                          </div>
                                          <div class="content">
                                              
                                              <p class="blog-meta">Dealership events</p>
                                              <h6><a href="{% url 'blog-details' %}">Seasonal Car Care Tips to Keep Your Vehicle Running Smoothly</a></h6>
                                              <div class="author-date">
                                                  <div class="person">
                                                      <img src="{% static 'images/blog/author-01.svg' %}" alt="">
                                                      Jack Alexander 
                                                  </div>
                                                  <div class="date">March 26, 2024</div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="blog-wrapper">
                                          <div class="image-area">
                                              <a href="{% url 'blog-details' %}"><img src="{% static 'images/blog/02.webp' %}"
                                                       alt=""></a>
                                          </div>
                                          <div class="content">
                                              <p class="blog-meta">March 26, 2024</p>
                                              <h6><a href="{% url 'blog-details' %}">How Regular Maintenance Can Save You Thousands in Repairs</a></h6>
                                              <div class="author-date">
                                                  <div class="person">
                                                      <img src="{% static 'images/blog/author-02.svg' %}" alt="">
                                                      Jack Alexander 
                                                  </div>
                                                  <div class="date">March 26, 2024</div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="sticky-top">
                              <div class="right-side-bar">
                                  <div class="search-area side-box">
                                      <h2>Cars Search</h2>
                                      <form action="#">
                                          <div class="input-wrapper">
                                              <input type="text" placeholder="Search Vehicles" required>
                                              <button type="submit"><i class="fa-regular fa-magnifying-glass"></i></button>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="car-make side-box">
                                      <h2>Car Categories</h2>
                                      <ul class="checkbox-list">
                                          <li class="checkbox-item">
                                            <label class="checkbox-label">
                                              <input type="checkbox" checked />
                                              <span>Mercedes-Benz</span>
                                            </label>
                                            <span>(130)</span>
                                          </li>
                                          <li class="checkbox-item">
                                            <label class="checkbox-label">
                                              <input type="checkbox" />
                                              <span>Volkswagen</span>
                                            </label>
                                            <span>(80)</span>
                                          </li>
                                          <li class="checkbox-item">
                                            <label class="checkbox-label">
                                              <input type="checkbox" />
                                              <span>Mitsubishi</span>
                                            </label>
                                            <span>(199)</span>
                                          </li>
                                          <li class="checkbox-item">
                                            <label class="checkbox-label">
                                              <input type="checkbox" />
                                              <span>Honda</span>
                                            </label>
                                            <span>(70)</span>
                                          </li>
                                          <li class="checkbox-item">
                                            <label class="checkbox-label">
                                              <input type="checkbox" />
                                              <span>Lamborghini</span>
                                            </label>
                                            <span>(160)</span>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="recent-post side-box">
                                      <h2>Recent Post</h2>
                                      <ul class="blog-list">
                                          <li>
                                              <div class="image-area">
                                                  <a href="{% url 'blog-details' %}">
                                                      <img src="{% static 'images/blog/sm-01.webp' %}"  width="100" alt="">
                                                  </a>
                                              </div>  
                                              <div class="content">
                                                  <h6><a href="{% url 'blog-details' %}">10 Tips for First-Time Car What You Need to Know</a></h6>
                                                  <p class="blog-meta">May 26, 2024</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="image-area">
                                                  <a href="{% url 'blog-details' %}">
                                                      <img src="{% static 'images/blog/sm-02.webp' %}"  width="100" alt="">
                                                  </a>
                                              </div>  
                                              <div class="content">
                                                  <h6><a href="{% url 'blog-details' %}">Top 5 Reasons to Buy a for Pre-Owned Vehicle</a></h6>
                                                  <p class="blog-meta">May 26, 2024</p>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="image-area">
                                                  <a href="{% url 'blog-details' %}">
                                                      <img src="{% static 'images/blog/sm-03.webp' %}"  width="100" alt="">
                                                  </a>
                                              </div>  
                                              <div class="content">
                                                  <h6><a href="{% url 'blog-details' %}">How to Choose the Perfect Car for Your Lifestyle</a></h6>
                                                  <p class="blog-meta">May 26, 2024</p>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="tag-area side-box">
                                      <h2>Fuel</h2>
                                      <ul>
                                          <li>Gasoline</li>
                                          <li>Diesel</li>
                                          <li>Plug-in Hybrid</li>
                                          <li>Hybrid</li>
                                          <li>Electric</li>
                                      </ul>
                                  </div>
                                  <div class="ad-area">
                                      <img src="{% static 'images/blog/ad.webp' %}"  alt="">
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="rts-cta-area area-2">
                <div class="container">
                    <div class="cta-inner">
                        <h2 class="title">If you have any questions Please Call.</h2>
                        <div class="contact">
                            <a href="callto:+16544521505">
                                <img src="{% static 'images/cta/call.svg' %}" alt="">
                                +1-654-452-1505</a>
                        </div>
                        <img class="shape one" src="{% static 'images/cta/round.svg' %}" alt="">
                        <img class="shape two" src="{% static 'images/cta/line.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer/footer-three.html' %}
{% endblock content %}