{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="rts-wrapper">
        <div class="rts-wrapper-inner">
            <!-- header area start -->
            {% include 'partials/header/header-three.html' %}
            <!-- header area end -->

            <!-- Breadcrumb area start -->
            {% with class="service calc" current="Calculator" title="Car Loan Calculator" %}
                {% include 'partials/elements/breadcrumb.html' %}   
            {% endwith %}
            <!-- Breadcrumb area end -->
            <!-- Calculator Area Start -->
            <section class="rts-calculator-area rts-section-gap">
                <div class="container">
                    <div class="calculator-form-inner">
                        <h4 class="text-center mb--30">Car Loan Calculator</h4>
                        <form action="#">
                            <div class="single-wrapper">
                                <span>
                                    <select name="my_select" class="mySelect">
                                        <option value="2" selected>Select A Car</option>
                                        <option value="10">Mazda</option>
                                        <option value="1">Citroen</option>
                                        <option value="13">Honda</option>
                                        <option value="14">Mitsubishi</option>
                                        <option value="15">Peugeot</option>
                                    </select>
                                    <img src="{% static 'images/icon/car-03.svg' %}" alt="">
                                </span>
                                <span>
                                    <input type="text" placeholder="Vehicle Price" required>
                                    <img src="{% static 'images/icon/car-03.svg' %}" alt="">
                                </span>
                            </div>
                            <div class="single-wrapper">
                                <span>
                                    <input type="text" placeholder="Down Payment" required>
                                    <img src="{% static 'images/icon/car-03.svg' %}" alt="">
                                </span>
                                <span>
                                    <input type="text" placeholder="Interest Rate" required>
                                    <img src="{% static 'images/icon/car-03.svg' %}" alt="">
                                </span>
                            </div>
                            <div class="single-wrapper">
                                <span>
                                    <select name="my_select" class="mySelect">
                                        <option value="2" selected>Payment Type</option>
                                        <option value="10">Paypal</option>
                                        <option value="1">Payoneer</option>
                                        <option value="13">Skrill</option>
                                        <option value="14">Wise</option>
                                    </select>
                                    <img src="{% static 'images/icon/car-03.svg' %}" alt="">
                                </span>
                            </div>
                            <div class="single-wrapper">
                                <button type="submit" class="rts-btn radius-small btn-primary mb--20">Calculate</button>
                            </div>
                            <div class="single-wrapper">
                                <span>
                                    <input type="text" placeholder="Monthly Payment" required>
                                    <img src="{% static 'images/icon/car-03.svg' %}" alt="">
                                </span>
                                <span>
                                    <input type="text" placeholder="Total Interest" required>
                                    <img src="{% static 'images/icon/car-03.svg' %}" alt="">
                                </span>
                                <span>
                                    <input type="text" placeholder="Total Payments" required>
                                    <img src="{% static 'images/icon/car-03.svg' %}" alt="">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- Calculator Area End -->
             <!-- Counter Area Start -->
             <section class="rts-counter-area jarallax">
                <div class="container">
                    <div class="counter-inner">
                        <div class="inner wow zoomIn" data-wow-delay=".2s" data-wow-duration="1s">
                            <div class="icon">
                                <img src="{% static 'images/counter/icon-01.svg' %}" width="74" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title cw"><span class="counter">320</span><span>M</span></h3>
                                <p class="desc">Cars For Sale</p>
                            </div>
                        </div>
                        <div class="inner wow zoomIn" data-wow-delay=".4s" data-wow-duration="1s">
                            <div class="icon">
                                <img src="{% static 'images/counter/icon-02.svg' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title cw"><span class="counter">5500</span><span>+</span></h3>
                                <p class="desc">Dealer Review</p>
                            </div>
                        </div>
                        <div class="inner wow zoomIn" data-wow-delay=".6s" data-wow-duration="1s">
                            <div class="icon">
                                <img src="{% static 'images/counter/icon-03.svg' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title cw"><span class="counter">300</span><span>M</span></h3>
                                <p class="desc">Verified User</p>
                            </div>
                        </div>
                        <div class="inner wow zoomIn" data-wow-delay=".8s" data-wow-duration="1s">
                            <div class="icon">
                                <img src="{% static 'images/counter/icon-04.svg' %}" alt="">
                            </div>
                            <div class="text">
                                <h3 class="title cw"><span class="counter">10</span><span>M</span></h3>
                                <p class="desc">Visitor Per Day</p>
                            </div>
                        </div>
                    </div>
                </div>
             </section>
            <!-- Counter Area End -->
            <!-- Brand Area Start -->
            <section class="rts-brand-area rts-section-gapTop">
                <div class="container">
                    <div class="section-title-area2">
                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Partners</p>
                        <h2 class="section-title wow move-right">Browse by <span>Company</span></h2>
                    </div>
                    <div class="section-inner mt--80">
                        <ul>
                            <li class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/01-w.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/02.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/03.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/04.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/05.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/06.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1.4s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/07.svg' %}" alt=""></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- Brand Area End -->
            <div class="rts-cta-area area-2">
                <div class="container">
                    <div class="cta-inner">
                        <h2 class="title">If you have any questions Please Call.</h2>
                        <div class="contact">
                            <a href="callto:+16544521505">
                                <img src="{% static 'images/cta/call.svg' %}" alt="">
                                +1-654-452-1505</a>
                        </div>
                        <img class="shape one" src="{% static 'images/cta/round.svg' %}" alt="">
                        <img class="shape two" src="{% static 'images/cta/line.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer/footer-three.html' %}
{% endblock content %}