{% extends 'base.html' %}
{% load static %}
{% block class %}cart-page{% endblock %}
    {% block content %}
    <div class="rts-wrapper">
        <div class="rts-wrapper-inner">
            <!-- header area start -->
            {% include 'partials/header/header-three.html' %}
            <!-- header area end -->

            <!-- Breadcrumb area start -->
            {% with class="service" current="Cart" title="Cart" %}
                {% include 'partials/elements/breadcrumb.html' %}   
            {% endwith %}

            <!-- Breadcrumb area end -->
            <main class="ms-main">
                <div class="ms-page-content">
                    <!--================= Cart Area Start =================-->
                    <article id="post-283" class="post-283 page type-page status-publish hentry">
                        <div class="ms-default-page container">
                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper"></div>
                                <div class="ms-woocommerce-cart-form-wrapper">
                                    <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents">
                                        <thead>
                                            <tr>
                                                <th class="product-remove">&nbsp;</th>
                                                <th class="product-thumbnail">&nbsp;</th>
                                                <th class="product-name">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="woocommerce-cart-form__cart-item cart_item">
                                                <td class="product-remove">
                                                    <a href="#0" class="remove" aria-label="Remove this item"
                                                        data-product_id="470" data-product_sku="161056">
                                                        <svg viewBox="0 0 200 200" width="18"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z">
                                                            </path>
                                                        </svg>
                                                    </a>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a href="single-product.html">
                                                        <img src="{% static 'images/portfolio/01.webp' %}"
                                                            class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                            alt="">
                                                    </a>
                                                </td>
                                                <td class="product-name" data-title="Product">
                                                    <a href="single-product.html">Run Max 88</a>
                                                </td>
        
                                                <td class="product-price" data-title="Price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi><span class="woocommerce-Price-currencySymbol">$</span>120.00</bdi>
                                                    </span>
                                                </td>
                                                <td>
                                                    <div class="cart-edit">
                                                        <div class="quantity-edit">
                                                            <button class="button"><i class="fal fa-minus minus"></i></button>
                                                            <input type="text" class="input" value="3">
                                                            <button class="button plus">+<i
                                                                    class="fal fa-plus plus"></i></button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal" data-title="Subtotal">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi><span class="woocommerce-Price-currencySymbol">$</span>120.00</bdi>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="woocommerce-cart-form__cart-item cart_item">
                                                <td class="product-remove">
                                                    <a href="#" class="remove" aria-label="Remove this item"
                                                        data-product_id="476" data-product_sku="321736">
                                                        <svg viewBox="0 0 200 200" width="18"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z">
                                                            </path>
                                                        </svg>
                                                    </a>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a href="single-product.html">
                                                        <img src="{% static 'images/portfolio/02.webp' %}"
                                                            class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                            alt="Shop Image">
                                                    </a>
                                                </td>
                                                <td class="product-name" data-title="Product">
                                                    <a href="single-product.html">Workout Revolution 2</a>
                                                </td>
                                                <td class="product-price" data-title="Price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi><span class="woocommerce-Price-currencySymbol">$</span>180.00</bdi>
                                                    </span>
                                                </td>
                                                <td>
                                                    <div class="cart-edit">
                                                        <div class="quantity-edit">
                                                            <button class="button"><i class="fal fa-minus minus"></i></button>
                                                            <input type="text" class="input" value="3">
                                                            <button class="button plus">+<i
                                                                    class="fal fa-plus plus"></i></button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal" data-title="Subtotal">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi><span class="woocommerce-Price-currencySymbol">$</span>180.00</bdi>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="woocommerce-cart-form__cart-item cart_item">
                                                <td class="product-remove">
                                                    <a href="#0" class="remove" aria-label="Remove this item"
                                                        data-product_id="478" data-product_sku="117652">
                                                        <svg viewBox="0 0 200 200" width="18"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z">
                                                            </path>
                                                        </svg>
                                                    </a>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a href="single-product.html">
                                                        <img src="{% static 'images/portfolio/03.webp' %}"
                                                            class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                            alt="Shop Image">
                                                    </a>
                                                </td>
                                                <td class="product-name" data-title="Product">
                                                    <a href="single-product.html">KL 17 BS</a>
                                                </td>
        
                                                <td class="product-price" data-title="Price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi><span class="woocommerce-Price-currencySymbol">$</span>80.00</bdi>
                                                    </span>
                                                </td>
                                                <td>
                                                    <div class="cart-edit">
                                                        <div class="quantity-edit">
                                                            <button class="button"><i class="fal fa-minus minus"></i></button>
                                                            <input type="text" class="input" value="3">
                                                            <button class="button plus">+<i
                                                                    class="fal fa-plus plus"></i></button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal" data-title="Subtotal">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi><span class="woocommerce-Price-currencySymbol">$</span>80.00</bdi>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="woocommerce-cart-form__cart-item cart_item">
                                                <td class="product-remove">
                                                    <a href="#0" class="remove" aria-label="Remove this item"
                                                        data-product_id="483" data-product_sku="">
                                                        <svg viewBox="0 0 200 200" width="18"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M114,100l49-49a9.9,9.9,0,0,0-14-14L100,86,51,37A9.9,9.9,0,0,0,37,51l49,49L37,149a9.9,9.9,0,0,0,14,14l49-49,49,49a9.9,9.9,0,0,0,14-14Z">
                                                            </path>
                                                        </svg>
                                                    </a>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a href="single-product.html">
                                                        <img src="{% static 'images/portfolio/04.webp' %}"
                                                            class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                            alt="">
                                                    </a>
                                                </td>
                                                <td class="product-name" data-title="Product">
                                                    <a href="single-product.html">Flex Armour</a>
                                                </td>
                                                <td class="product-price" data-title="Price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi><span class="woocommerce-Price-currencySymbol">$</span>139.00</bdi>
                                                    </span>
                                                </td>
                                                <td>
                                                    <div class="cart-edit">
                                                        <div class="quantity-edit">
                                                            <button class="button"><i class="fal fa-minus minus"></i></button>
                                                            <input type="text" class="input" value="3">
                                                            <button class="button plus">+<i
                                                                    class="fal fa-plus plus"></i></button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal" data-title="Subtotal">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi><span class="woocommerce-Price-currencySymbol">$</span>139.00</bdi>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="actions">
                                                    <form class="woocommerce-cart-form" action="#" method="post">
        
                                                        <div class="ms-actions-inner">
                                                            <div class="coupon">
                                                                <input type="text" name="coupon_code" class="input-text"
                                                                    id="coupon_code" value="" placeholder="Coupon code"
                                                                    required>
                                                                <button type="submit" class="button rts-btn btn-primary"
                                                                    name="apply_coupon" value="Apply coupon">Apply coupon</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-5 offset-md-7">
                                            <div class="ms-cart-collaterals cart-collaterals">
                                                <div class="ms-cart-totals cart_totals ">
                                                    <h3>Cart totals</h3>
                                                    <table class="shop_table shop_table_responsive">
                                                        <tbody>
                                                            <tr class="cart-subtotal">
                                                                <th>Subtotal</th>
                                                                <td data-title="Subtotal">
                                                                    <span class="woocommerce-Price-amount amount">
                                                                        <bdi><span
                                                                                class="woocommerce-Price-currencySymbol">$</span>519.00</bdi>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr class="order-total">
                                                                <th>Total</th>
                                                                <td data-title="Total">
                                                                    <strong><span class="woocommerce-Price-amount amount">
                                                                            <bdi><span
                                                                                    class="woocommerce-Price-currencySymbol">$</span>519.00</bdi></span>
                                                                    </strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="ms-proceed-to-checkout wc-proceed-to-checkout">
                                                        <a href="#0" class="rts-btn btn-primary"> Proceed to checkout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                    <!--================= Cart Area End =================-->
            <div class="rts-cta-area area-2 pb--50">
                <div class="container">
                    <div class="cta-inner">
                        <h2 class="title">If you have any questions Please Call.</h2>
                        <div class="contact">
                            <a href="callto:+16544521505">
                                <img src="{% static 'images/cta/call.svg' %}" alt="">
                                +1-654-452-1505</a>
                        </div>
                        <img class="shape one" src="{% static 'images/cta/round.svg' %}" alt="">
                        <img class="shape two" src="{% static 'images/cta/line.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer/footer-three.html' %}
{% endblock content %}