{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="rts-wrapper">
        <div class="rts-wrapper-inner">
            <!-- header area start -->
            {% include 'partials/header/header-three.html' %}
            <!-- header area end -->

            <!-- Breadcrumb area start -->
            {% with class="service" current="Service" title="Service" %}
                {% include 'partials/elements/breadcrumb.html' %}   
            {% endwith %}
            <!-- Breadcrumb area end -->
            <!-- Service Area Start -->
            <section class="rts-service-area inner two rts-section-gap">
                <div class="container">
                    <div class="section-inner">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="service-image-wrapper">
                                    <img src="{% static 'images/service/service-07.webp' %}" width="616" alt="">
                                    <img src="{% static 'images/service/service-08.webp' %}" width="616" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="service-content-area">
                                    <div class="section-title-area">
                                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Car Dealer Service</p>
                                        <h2 class="section-title wow move-right">DeepDrive <span>Service</span> Center
                                        </h2>
                                    </div>
                                    <p class="desc wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">Welcome to DeepDrive where innovation drives every journey. Discover a range of designed to elevate your driving experience.Please arrive a few minutes early, and if you need to make any changes to your appointment, don't hesitate to give us a call at. We look forward to servicing your for vehicle and keeping it running smoothly. We look forward to providing it top-quality care for your vehicle!</p>
                                    <div class="button-area">
                                        <a href="{% url 'contact' %}" class="rts-btn btn-primary radius-small">Contact Us</a>
                                        <a href="callto:+21652340781" class="rts-btn call-btn wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                                            <span>
                                                <i class="fa-regular fa-phone"></i>
                                            </span>
                                            <div class="content">
                                                <h6>Call Us Now</h6>
                                                <p>+21652340781</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Service Area End -->
             <!-- Why Choose Us Area Start -->
            <section class="rts-why-choose-us4 rts-section-gapBottom">
                <div class="container">
                    <div class="section-inner">
                        <div class="row g-5">
                            <div class="col-lg-6">
                                <div class="left-side-content">
                                    <div class="section-title-area">
                                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Why Choose Us</p>
                                        <h2 class="section-title wow move-right">Why We're the Right <span>Choice</span> for You</h2>
                                    </div>
                                    <div class="image-area text-end mt--60">
                                        <img src="{% static 'images/about/10.webp' %}" width="318" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-content">
                                    <div class="why-choose-us-wrapper3">
                                        <div class="icon">
                                            <img src="{% static 'images/why-choose/icon-13.svg' %}" alt="">
                                        </div>
                                        <h6 class="title">24/7 Support</h6>
                                        <p class="desc">Whether you're looking for a brand-new model or a certified, we have a diverse.</p>
                                    </div>
                                    <div class="why-choose-us-wrapper3">
                                        <div class="icon">
                                            <img src="{% static 'images/why-choose/icon-14.svg' %}" alt="">
                                        </div>
                                        <h6 class="title">Competitive pricing</h6>
                                        <p class="desc">Whether you're looking for a brand-new model or a certified, we have a diverse.</p>
                                    </div>
                                    <div class="why-choose-us-wrapper3">
                                        <div class="icon">
                                            <img src="{% static 'images/why-choose/icon-15.svg' %}" alt="">
                                        </div>
                                        <h6 class="title">Eco-Friendly Service</h6>
                                        <p class="desc">Whether you're looking for a brand-new model or a certified  vehicle, we have a diverse.</p>
                                    </div>
                                    <div class="why-choose-us-wrapper3">
                                        <div class="icon">
                                            <img src="{% static 'images/why-choose/icon-16.svg' %}" alt="">
                                        </div>
                                        <h6 class="title">Cleaning Technology</h6>
                                        <p class="desc">Whether you're looking for a brand-new model or a certified  vehicle, we have a diverse.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Why Choose Us Area End -->

            <!-- Service Area Start -->
             <section class="rts-service-area bg-heading rts-section-gap">
                <div class="container">
                    <div class="section-title-area2">
                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Our Service</p>
                        <h2 class="section-title cw wow move-right">Our Car <span>Service</span></h2>
                    </div>
                    <div class="section-inner mt--80">
                        <div class="service-wrapper-2">
                            <span class="number">01</span>
                            <div class="content">
                                <h5 class="title cw">Precision Auto Care</h5>
                                <p class="desc">Exterior cleaning with soap and water, followed by a rinse and air dry.</p>
                            </div>
                            <div class="image-area">
                                <a href="#">
                                    <img src="{% static 'images/service/service-04.webp' %}" width="396" alt="">
                                </a>
                            </div>
                            <div class="button-area">
                                <a href="#"><i class="rt-icon-right-arrow-1"></i></a>
                            </div>
                        </div>
                        <div class="service-wrapper-2">
                            <span class="number">02</span>
                            <div class="content">
                                <h5 class="title cw">DriveWell Auto Repair</h5>
                                <p class="desc">Exterior cleaning with soap and water, followed by a rinse and air dry.</p>
                            </div>
                            <div class="image-area">
                                <a href="#">
                                    <img src="{% static 'images/service/service-05.webp' %}" width="396" alt="">
                                </a>
                            </div>
                            <div class="button-area">
                                <a href="#"><i class="rt-icon-right-arrow-1"></i></a>
                            </div>
                        </div>
                        <div class="service-wrapper-2">
                            <span class="number">03</span>
                            <div class="content">
                                <h5 class="title cw">Revive Auto Solutions</h5>
                                <p class="desc">Exterior cleaning with soap and water, followed by a rinse and air dry.</p>
                            </div>
                            <div class="image-area">
                                <a href="#">
                                    <img src="{% static 'images/service/service-06.webp' %}" width="396" alt="">
                                </a>
                            </div>
                            <div class="button-area">
                                <a href="#"><i class="rt-icon-right-arrow-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="rts-btn radius-small btn-border load-more-btn cw">See All Service</a>
                </div>
             </section>
            <!-- Service Area End -->
             <!-- Working Process Area Start -->
             <section class="rts-working-process-area rts-section-gap">
                <div class="container">
                    <div class="section-title-area2">
                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Our Work Process</p>
                        <h2 class="section-title wow move-right">Our Work <span>Process</span></h2>
                    </div>
                    <div class="working-inner mt--80">
                        <img class="shape" src="{% static 'images/icon/line.svg' %}" alt="">
                        <div class="working-process-wrapper">
                            <div class="icon"><img src="{% static 'images/icon/icon-01.svg' %}" alt=""></div>
                            <h6 class="title">Issue Identification</h6>
                            <p class="desc">The mechanic or service advisor talks to the customer to understand the problem noises, performance issues, warning lights</p>
                        </div>
                        <div class="working-process-wrapper">
                            <div class="icon"><img src="{% static 'images/icon/icon-02.svg' %}" alt=""></div>
                            <h6 class="title">Quality Control & Testing</h6>
                            <p class="desc">The mechanic or service advisor talks to the customer to understand the problem noises, performance issues, warning lights</p>
                        </div>
                        <div class="working-process-wrapper">
                            <div class="icon"><img src="{% static 'images/icon/icon-03.svg' %}" alt=""></div>
                            <h6 class="title">Customer Notification & Handover</h6>
                            <p class="desc">The mechanic or service advisor talks to the customer to understand the problem noises, performance issues, warning lights</p>
                        </div>
                    </div>
                </div>
             </section>
            <!-- Working Process Area End -->
            <!-- Team Area End -->
            <!-- Brand Area Start -->
            <section class="rts-brand-area">
                <div class="container">
                    <div class="section-title-area2">
                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Partners</p>
                        <h2 class="section-title wow move-right">Browse by <span>Company</span></h2>
                    </div>
                    <div class="section-inner mt--80">
                        <ul>
                            <li class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/01-w.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/02.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/03.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/04.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/05.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/06.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1.4s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/07.svg' %}" alt=""></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- Brand Area End -->
            <div class="rts-cta-area area-2">
                <div class="container">
                    <div class="cta-inner">
                        <h2 class="title">If you have any questions Please Call.</h2>
                        <div class="contact">
                            <a href="callto:+16544521505">
                                <img src="{% static 'images/cta/call.svg' %}" alt="">
                                +1-654-452-1505</a>
                        </div>
                        <img class="shape one" src="{% static 'images/cta/round.svg' %}" alt="">
                        <img class="shape two" src="{% static 'images/cta/line.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer/footer-three.html' %}
{% endblock content %}