{% extends 'base.html' %}
{% load static %}
    {% block content %}
    
    <div class="rts-wrapper">
        <div class="rts-wrapper-inner">
            <!-- header area start -->
            {% include 'partials/header/header-three.html' %}
            <!-- header area end -->

            <!-- Breadcrumb area start -->
            {% with class="portfolio-3" current="Sold" title="Sold" %}
                {% include 'partials/elements/breadcrumb.html' %}   
            {% endwith %}
            <!-- Breadcrumb area end -->
            <!-- Pricing Start -->
            <section class="rts-portfolio-area sold-car rts-section-gap">
                <div class="container">
                    <div class="section-inner">
                        <div class="row g-5">
                            <div class="col-lg-4 col-md-6">
                                <div class="project-wrapper2">
                                    <div class="image-area">
                                        <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/04.webp' %}" alt=""></a>
                                        <span class="tag">Sold Out</span>
                                        <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a href="{% static 'images/portfolio/04.webp' %}" class="gallery-image">
                                            <img src="{% static 'images/icon/image.svg' %}" alt="">
                                            7
                                        </a>
                                    </div>
                                    <span class="price">14,000$</span>
                                    <div class="content-area">
                                        <h6 class="title "><a href="{% url 'portfolio-details' %}">Thunderbolt Car</a>
                                        </h6>
                                        <ul class="feature-area">
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                100 Miles
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                Petrol
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                Autometic
                                            </li>
                                            
                                        </ul>
                                        <div class="button-area">
                                            <p class="">$400</p>
                                            <a href="{% url 'portfolio-details' %}"
                                                class="rts-btn btn-primary radius-small">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-wrapper2">
                                    <div class="image-area">
                                        <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/05.webp' %}" alt=""></a>
                                        <span class="tag">Sold Out</span>
                                        <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a href="{% static 'images/portfolio/05.webp' %}" class="gallery-image">
                                            <img src="{% static 'images/icon/image.svg' %}" alt="">
                                            7
                                        </a>
                                    </div>
                                    <span class="price">14,000$</span>
                                    <div class="content-area">
                                        <h6 class="title "><a href="{% url 'portfolio-details' %}">Mercedes-Benz
                                                E-Class</a>
                                        </h6>
                                        <ul class="feature-area">
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                100 Miles
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                Petrol
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                Autometic
                                            </li>
                                            
                                        </ul>
                                        <div class="button-area">
                                            <p class="">$400</p>
                                            <a href="{% url 'portfolio-details' %}"
                                                class="rts-btn btn-primary radius-small">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-wrapper2">
                                    <div class="image-area">
                                        <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/06.webp' %}" alt=""></a>
                                        <span class="tag">Sold Out</span>
                                        <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a href="{% static 'images/portfolio/06.webp' %}" class="gallery-image">
                                            <img src="{% static 'images/icon/image.svg' %}" alt="">
                                            7
                                        </a>
                                    </div>
                                    <span class="price">14,000$</span>
                                    <div class="content-area">
                                        <h6 class="title "><a href="{% url 'portfolio-details' %}">Ford Mustang
                                                Convertible</a>
                                        </h6>
                                        <ul class="feature-area">
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                100 Miles
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                Petrol
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                Autometic
                                            </li>
                                            
                                        </ul>
                                        <div class="button-area">
                                            <p class="">$400</p>
                                            <a href="{% url 'portfolio-details' %}"
                                                class="rts-btn btn-primary radius-small">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-wrapper2">
                                    <div class="image-area">
                                        <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/07.webp' %}" alt=""></a>
                                        <span class="tag">Sold Out</span>
                                        <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a href="{% static 'images/portfolio/07.webp' %}" class="gallery-image">
                                            <img src="{% static 'images/icon/image.svg' %}" alt="">
                                            7
                                        </a>
                                    </div>
                                    <span class="price">14,000$</span>
                                    <div class="content-area">
                                        <h6 class="title "><a href="{% url 'portfolio-details' %}">Mazda MX-5 Miata</a>
                                        </h6>
                                        <ul class="feature-area">
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                100 Miles
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                Petrol
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                Autometic
                                            </li>
                                            
                                        </ul>
                                        <div class="button-area">
                                            <p class="">$400</p>
                                            <a href="{% url 'portfolio-details' %}"
                                                class="rts-btn btn-primary radius-small">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-wrapper2">
                                    <div class="image-area">
                                        <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/08.webp' %}" alt=""></a>
                                        <span class="tag">Sold Out</span>
                                        <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a href="{% static 'images/portfolio/08.webp' %}" class="gallery-image">
                                            <img src="{% static 'images/icon/image.svg' %}" alt="">
                                            5
                                        </a>
                                    </div>
                                    <span class="price">14,000$</span>
                                    <div class="content-area">
                                        <h6 class="title "><a href="{% url 'portfolio-details' %}">Honda Civic
                                                Hatchback</a>
                                        </h6>
                                        <ul class="feature-area">
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                100 Miles
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                Petrol
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                Autometic
                                            </li>
                                            
                                        </ul>
                                        <div class="button-area">
                                            <p class="">$400</p>
                                            <a href="{% url 'portfolio-details' %}"
                                                class="rts-btn btn-primary radius-small">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-wrapper2">
                                    <div class="image-area">
                                        <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/09.webp' %}" alt=""></a>
                                        <span class="tag">Sold Out</span>
                                        <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a href="{% static 'images/portfolio/09.webp' %}" class="gallery-image">
                                            <img src="{% static 'images/icon/image.svg' %}" alt="">
                                            7
                                        </a>
                                    </div>
                                    <span class="price">14,000$</span>
                                    <div class="content-area">
                                        <h6 class="title "><a href="{% url 'portfolio-details' %}">Hyundai Veloster</a>
                                        </h6>
                                        <ul class="feature-area">
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                100 Miles
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                Petrol
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                Autometic
                                            </li>
                                            
                                        </ul>
                                        <div class="button-area">
                                            <p class="">$400</p>
                                            <a href="{% url 'portfolio-details' %}" class="rts-btn btn-primary radius-small">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-wrapper2">
                                    <div class="image-area">
                                        <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/04.webp' %}" alt=""></a>
                                        <span class="tag">Sold Out</span>
                                        <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a href="{% static 'images/portfolio/04.webp' %}" class="gallery-image">
                                            <img src="{% static 'images/icon/image.svg' %}" alt="">
                                            7
                                        </a>
                                    </div>
                                    <span class="price">14,000$</span>
                                    <div class="content-area">
                                        <h6 class="title "><a href="{% url 'portfolio-details' %}">Thunderbolt Car</a>
                                        </h6>
                                        <ul class="feature-area">
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                100 Miles
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                Petrol
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                Autometic
                                            </li>
                                            
                                        </ul>
                                        <div class="button-area">
                                            <p class="">$400</p>
                                            <a href="{% url 'portfolio-details' %}"
                                                class="rts-btn btn-primary radius-small">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-wrapper2">
                                    <div class="image-area">
                                        <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/05.webp' %}" alt=""></a>
                                        <span class="tag">Sold Out</span>
                                        <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a href="{% static 'images/portfolio/05.webp' %}" class="gallery-image">
                                            <img src="{% static 'images/icon/image.svg' %}" alt="">
                                            7
                                        </a>
                                    </div>
                                    <span class="price">14,000$</span>
                                    <div class="content-area">
                                        <h6 class="title "><a href="{% url 'portfolio-details' %}">Mercedes-Benz
                                                E-Class</a>
                                        </h6>
                                        <ul class="feature-area">
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                100 Miles
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                Petrol
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                Autometic
                                            </li>
                                            
                                        </ul>
                                        <div class="button-area">
                                            <p class="">$400</p>
                                            <a href="{% url 'portfolio-details' %}"
                                                class="rts-btn btn-primary radius-small">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="project-wrapper2">
                                    <div class="image-area">
                                        <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/06.webp' %}" alt=""></a>
                                        <span class="tag">Sold Out</span>
                                        <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a href="{% static 'images/portfolio/06.webp' %}" class="gallery-image">
                                            <img src="{% static 'images/icon/image.svg' %}" alt="">
                                            7
                                        </a>
                                    </div>
                                    <span class="price">14,000$</span>
                                    <div class="content-area">
                                        <h6 class="title "><a href="{% url 'portfolio-details' %}">Ford Mustang
                                                Convertible</a>
                                        </h6>
                                        <ul class="feature-area">
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                100 Miles
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                Petrol
                                            </li>
                                            <li>
                                                <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                Autometic
                                            </li>
                                            
                                        </ul>
                                        <div class="button-area">
                                            <p class="">$400</p>
                                            <a href="{% url 'portfolio-details' %}"
                                                class="rts-btn btn-primary radius-small">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </section>
            <!-- Pricing End -->
            <!-- Brand Area Start -->
            <section class="rts-brand-area">
                <div class="container">
                    <div class="section-title-area2">
                        <p class="sub-title wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">Partners</p>
                        <h2 class="section-title wow move-right">Browse by <span>Company</span></h2>
                    </div>
                    <div class="section-inner mt--80">
                        <ul>
                            <li class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/01-w.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/02.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/03.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/04.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/05.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/06.svg' %}" alt=""></li>
                            <li class="wow fadeInUp" data-wow-delay="1.4s" data-wow-duration="1s"><img
                                    src="{% static 'images/brand/07.svg' %}" alt=""></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- Brand Area End -->
            <div class="rts-cta-area area-2">
                <div class="container">
                    <div class="cta-inner">
                        <h2 class="title">If you have any questions Please Call.</h2>
                        <div class="contact">
                            <a href="callto:+16544521505">
                                <img src="{% static 'images/cta/call.svg' %}" alt="">
                                +1-654-452-1505</a>
                        </div>
                        <img class="shape one" src="{% static 'images/cta/round.svg' %}" alt="">
                        <img class="shape two" src="{% static 'images/cta/line.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer/footer-three.html' %}
{% endblock content %}