{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="rts-wrapper">
        <div class="rts-wrapper-inner">
            <!-- header area start -->
            {% include 'partials/header/header-three.html' %}
            <!-- header area end -->

            <!-- Breadcrumb area start -->
            {% with class="portfolio details" current="Cars" title="Mercedes-Benz E-Class" %}
                {% include 'partials/elements/breadcrumb-2.html' %}   
            {% endwith %}
            <!-- Breadcrumb area end -->
            <div class="rts-portfolio-area inner rts-section-gapNew">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-8">
                            <div class="portfolio-details-area">
                                <div class="portfolio-slider-area mb--40">
                                    <div class="swiper projectSlider4">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="image"><img src="{% static 'images/portfolio/24.webp' %}" width="662" alt=""></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="image"><img src="{% static 'images/portfolio/25.webp' %}" width="662" alt=""></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="image"><img src="{% static 'images/portfolio/26.webp' %}" width="662" alt=""></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="image"><img src="{% static 'images/portfolio/27.webp' %}" width="662" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider-pagination-area">
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <h2 class="mb--30">Car Description</h2>
                                <p class="mb--30">A car is a motorized vehicle designed primarily for the transportation of passengers, typically seating between one 
                                  to eight people. It consists of a metal or composite body structure mounted on a set of wheels, usually four, and is 
                                  powered by an internal combustion engine, an electric motor, or a hybrid system that combines both. The car’s it is
                                  main components include the engine, transmission, drivetrain, suspension, and braking system, all of which work
                                  together to provide motion and control.</p>
                                <p>Cars come in a variety of body styles and sizes, such as sedans, SUVs, hatchbacks, coupes, convertibles, and for pickup trucks, each serving different needs and preferences.</p>
                                <h2 class="mb--30">Car Features</h2>
                                <ul class="feature-list mb--40">
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Engine Type
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Horsepower
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Automatic Climate Control
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Touchscreen Display
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Navigation System
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Fog Lights
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Start-Stop Technology
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Automatic Headlights
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i> Navigation System
                                  </li>
                                </ul>
                                <h2 class="mb--30">Key Specs</h2>
                                <ul class="specs-list mb--40">
                                  <li>
                                    <span class="number">1</span>
                                    <div class="text">
                                      <h6>Car Transmission</h6>
                                      <p>Fuel type</p>
                                    </div>
                                  </li>
                                  <li>
                                    <span class="number">2</span>
                                    <div class="text">
                                      <h6>15 hrs</h6>
                                      <p>Level Two Charging</p>
                                    </div>
                                  </li>
                                  <li>
                                    <span class="number">3</span>
                                    <div class="text">
                                      <h6>100 kWh</h6>
                                      <p>Battery Capacity</p>
                                    </div>
                                  </li>
                                  <li>
                                    <span class="number">4</span>
                                    <div class="text">
                                      <h6>30 mins</h6>
                                      <p>Dc Fast Changing</p>
                                    </div>
                                  </li>
                                  <li>
                                    <span class="number">5</span>
                                    <div class="text">
                                      <h6>Battery</h6>
                                      <p>96 month/150000 miles</p>
                                    </div>
                                  </li>
                                  <li>
                                    <span class="number">6</span>
                                    <div class="text">
                                      <h6>Powertrain</h6>
                                      <p>96 month/unlimited</p>
                                    </div>
                                  </li>
                                </ul>
                                <h2 class="mb--30">Video</h2>
                                <!-- Video Area Start -->
                                <div class="rts-video-area video-2 bg-video-five bg_image jarallax mb--40">
                                  <video muted loop id="myVideo">
                                      <source src="{% static 'images/portfolio/video-01.webm' %}">
                                  </video>
                                  <div class="content">
                                      <div id="myBtn">
                                          <img src="{% static 'images/video/round-text.svg' %}" alt="">
                                          <img src="{% static 'images/video/play.svg' %}" alt="">
                                      </div>
                                  </div>
                                </div>
                                <!-- Video Area End -->
                                <h2 class="mb--30">Car Engine </h2>
                                <ul class="feature-list2 mb--30">
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i>
                                    <div class="text">
                                      <p>
                                        Displacement
                                      </p>
                                      <p>
                                        3L
                                      </p>
                                    </div> 
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i>
                                    <div class="text">
                                      <p>
                                        Torque
                                      </p>
                                      <p>
                                        350 lb.-ft
                                      </p>
                                    </div> 
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i>
                                    <div class="text">
                                      <p>
                                        Horespower
                                      </p>
                                      <p>
                                        210 kW / 286 hp
                                      </p>
                                    </div> 
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i>
                                    <div class="text">
                                      <p>
                                        Number of cylinders
                                      </p>
                                      <p>
                                        4
                                      </p>
                                    </div> 
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i>
                                    <div class="text">
                                      <p>
                                        Engine Layout
                                      </p>
                                      <p>
                                        First-Engine
                                      </p>
                                    </div> 
                                  </li>
                                  <li>
                                    <i class="fa-regular fa-circle-check"></i>
                                    <div class="text">
                                      <p>
                                        Engine Configurations
                                      </p>
                                      <p>
                                        V Engine (V6, V8)
                                      </p>
                                    </div> 
                                  </li>
                                </ul>
                                <form action="#" class="message-form mb--100">
                                  <h2>Send Message</h2>
                                  <div class="form-inner">
                                    <div class="input-wrapper">
                                      <input type="text" name="Name" placeholder="Your Name" required>
                                      <input type="email" name="Email" placeholder="Your Email*" required>
                                      <input type="text" name="Phone" placeholder="Phone" required>
                                    </div>
                                    <textarea name="message" id="message" placeholder="Type a message*"></textarea>
                                    <div class="form-bottom">
                                      <label class="checkbox-label">
                                        <input type="checkbox" />
                                        <span>I accept The <a href="#">Privacy Policy</a></span>
                                      </label>
                                      <button class="rts-btn btn-primary radius-small" type="submit"><img src="{% static 'images/portfolio/send.svg' %}" alt="">Submit Message</button>
                                    </div>
                                  </div>
                                </form>
                                <div class="related-project">
                                  <h3 class="mb--40 text-center">Related listings</h3>
                                  <div class="row g-5">
                                    <div class="col-lg-6">
                                      <div class="project-wrapper2">
                                          <div class="image-area">
                                              <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/04.webp' %}" alt=""></a>
                                              <span class="tag">Stocks</span>
                                              <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                              <a href="{% static 'images/portfolio/04.webp' %}" class="gallery-image">
                                                  <img src="{% static 'images/icon/image.svg' %}" alt="">
                                                  7
                                              </a>
                                          </div>
                                          <span class="price">14,000$</span>
                                          <div class="content-area">
                                              <h6 class="title "><a href="{% url 'portfolio-details' %}">Thunderbolt Car</a>
                                              </h6>
                                              <ul class="feature-area">
                                                  <li>
                                                      <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                      100 Miles
                                                  </li>
                                                  <li>
                                                      <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                      Petrol
                                                  </li>
                                                  <li>
                                                      <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                      Autometic
                                                  </li>
                                                  
                                              </ul>
                                              <div class="button-area">
                                                  <p class="">$400</p>
                                                  <a href="{% url 'portfolio-details' %}"
                                                      class="rts-btn btn-primary radius-small">View
                                                      Details</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="project-wrapper2">
                                          <div class="image-area">
                                              <a href="{% url 'portfolio-details' %}"><img src="{% static 'images/portfolio/05.webp' %}" alt=""></a>
                                              <span class="tag">New</span>
                                              <a href="wishlist.html" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                                              <a href="{% static 'images/portfolio/05.webp' %}" class="gallery-image">
                                                  <img src="{% static 'images/icon/image.svg' %}" alt="">
                                                  5
                                              </a>
                                          </div>
                                          <span class="price">14,000$</span>
                                          <div class="content-area">
                                              <h6 class="title "><a href="{% url 'portfolio-details' %}">Mercedes-Benz E-Class</a>
                                              </h6>
                                              <ul class="feature-area">
                                                  <li>
                                                      <img src="{% static 'images/portfolio/feature-icon/01.svg' %}" alt="">
                                                      100 Miles
                                                  </li>
                                                  <li>
                                                      <img src="{% static 'images/portfolio/feature-icon/02.svg' %}" alt="">
                                                      Petrol
                                                  </li>
                                                  <li>
                                                      <img src="{% static 'images/portfolio/feature-icon/03.svg' %}" alt="">
                                                      Autometic
                                                  </li>
                                                  
                                              </ul>
                                              <div class="button-area">
                                                  <p class="">$400</p>
                                                  <a href="{% url 'portfolio-details' %}" class="rts-btn btn-primary radius-small">View Details</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="sticky-top">
                            <div class="left-side-bar">
                                <div class="price-area side-box">
                                    <h5>$1200,00</h5>
                                    <ul class="price-meta">
                                      <li><img src="{% static 'images/portfolio/calender.svg' %}" alt=""> Feb 23, 2025</li>
                                      <li><img src="{% static 'images/portfolio/view.svg' %}" alt=""> View</li>
                                      <li><img src="{% static 'images/portfolio/heart.svg' %}" alt=""> Favourite</li>
                                    </ul>
                                    <div class="price-btn">
                                      <a href="#" class="rts-btn btn-primary radius-small">Call For Final Price</a>
                                    </div>
                                </div>
                                <div class="overview side-box">
                                  <h2>Car Overview</h2>
                                  <ul class="feature-list2">
                                    <li>
                                      <img src="{% static 'images/portfolio/feature-icon/09.svg' %}" alt="">
                                      <div class="text">
                                        <p>
                                          Car Type
                                        </p>
                                        <p>
                                          Mercedes - Benz
                                        </p>
                                      </div> 
                                    </li>
                                    <li>
                                      <img src="{% static 'images/portfolio/feature-icon/10.svg' %}" alt="">
                                      <div class="text">
                                        <p>
                                          Mileage
                                        </p>
                                        <p>
                                          100 Miles
                                        </p>
                                      </div> 
                                    </li>
                                    <li>
                                      <img src="{% static 'images/portfolio/feature-icon/11.svg' %}" alt="">
                                      <div class="text">
                                        <p>
                                           Fuel Type
                                        </p>
                                        <p>
                                          Petrol
                                        </p>
                                      </div> 
                                    </li>
                                    <li>
                                      <img src="{% static 'images/portfolio/feature-icon/12.svg' %}" alt="">
                                      <div class="text">
                                        <p>
                                          Transmission
                                        </p>
                                        <p>
                                          Autometic
                                        </p>
                                      </div> 
                                    </li>
                                    <li>
                                      <img src="{% static 'images/portfolio/feature-icon/13.svg' %}" alt="">
                                      <div class="text">
                                        <p>
                                          Person
                                        </p>
                                        <p>
                                          5 Person
                                        </p>
                                      </div> 
                                    </li>
                                    <li>
                                      <img src="{% static 'images/portfolio/feature-icon/14.svg' %}" alt="">
                                      <div class="text">
                                        <p>
                                          Drive Type
                                        </p>
                                        <p>
                                          Race Car Drivers
                                        </p>
                                      </div> 
                                    </li>
                                    <li>
                                      <img src="{% static 'images/portfolio/feature-icon/15.svg' %}" alt="">
                                      <div class="text">
                                        <p>
                                          Engine
                                        </p>
                                        <p>
                                          Mazda RX-7
                                        </p>
                                      </div> 
                                    </li>
                                    <li>
                                      <img src="{% static 'images/portfolio/feature-icon/16.svg' %}" alt="">
                                      <div class="text">
                                        <p>
                                          Color
                                        </p>
                                        <p>
                                          Red Color
                                        </p>
                                      </div> 
                                    </li>
                                  </ul>
                                </div>
                                <div class="map-area side-box">
                                  <h2>Location</h2>
                                  <div class="contact-map-area-fluid">
                                    <iframe class="contact-map" height="250" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14602.288851207937!2d90.47855065!3d23.798243149999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1663151706353!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                                </div>
                                <div class="contact side-box">
                                    <h2>Contacts</h2>
                                    <div class="contact-inner">
                                      <div class="author-img">
                                        <img src="{% static 'images/portfolio/author.webp' %}" alt="">
                                      </div>
                                      <h5>Jonathon Doe</h5>
                                      <p>Car Dealer</p>
                                      <div class="contact-button-area">
                                        <a href="#" class="rts-btn radius-small whatsapp"><img src="{% static 'images/portfolio/whatsapp.svg' %}" alt=""> +14844578513</a>
                                        <a href="#" class="rts-btn radius-small btn-primary phone"><img src="{% static 'images/portfolio/phone.svg' %}" alt=""> +18143511443</a>
                                        <a href="#" class="rts-btn radius-small telegram"><img src="{% static 'images/portfolio/send.svg' %}" alt=""> Send Message</a>
                                      </div>
                                    </div>
                                </div>
                                <div class="social-area side-box">
                                  <h2>Share</h2>
                                  <ul>
                                    <li>
                                      <i class="fa-brands fa-facebook-f"></i>
                                    </li>
                                    <li>
                                      <i class="fa-brands fa-twitter"></i>
                                    </li>
                                    <li>
                                      <i class="fa-brands fa-instagram"></i>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rts-cta-area area-2">
                <div class="container">
                    <div class="cta-inner">
                        <h2 class="title">If you have any questions Please Call.</h2>
                        <div class="contact">
                            <a href="callto:+16544521505">
                                <img src="{% static 'images/cta/call.svg' %}" alt="">
                                +1-654-452-1505</a>
                        </div>
                        <img class="shape one" src="{% static 'images/cta/round.svg' %}" alt="">
                        <img class="shape two" src="{% static 'images/cta/line.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer/footer-three.html' %}
{% endblock content %}